@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../../static/fonts/Karla-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 400;
  src: url("../../static/fonts/Karla-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 600;
  src: url("../../static/fonts/Karla-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 600;
  src: url("../../static/fonts/Karla-MediumItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  src: url("../../static/fonts/Karla-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 800;
  src: url("../../static/fonts/Karla-BoldItalic.ttf") format("ttf");
}
